@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
}

img {
    width: 500px;
    display: inline-block;
    margin: 0 10px;
    margin-top: 20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: aqua;
}

.home {
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: aqua;
}

.home-content p {
    font-size: 16px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: aqua;
    border: 2px solid aqua;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.contact-info {
    color: #ededed;
    padding: 100px 10% 50px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-info h1 {
    color: aqua;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact-info ul {
    list-style-type: none;
}

.contact-info ul li {
    font-size: 22px;
    margin-bottom: 15px;
}

.contact-info ul li:before {
    content: "\2024";
    color: aqua;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.about-section {
    padding-left: 100px;
    padding-top: 200px;
    color: #ededed;
}

.about-section h1 {
    color: aqua;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-section h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
}

.opleiding {
    padding-left: 100px;
    padding-top: 200px;
    color: #ededed;
}

.opleiding h1 {
    color: aqua;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.opleiding h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.opleiding p {
    font-size: 18px;
    line-height: 1.6;
}

.portfolio {
    padding-left: 100px;
    padding-top: 150px;
    color: #ededed;
}

.portfolio h1 {
    color: aqua;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.portfolio p {
    font-size: 18px;
    line-height: 1.6;
}

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }